.App {
  text-align: center;
}


form textarea {
  margin: 0 0 -10px -1px;
  padding: 0px;
  direction: ltr;
}
form button {
    margin: 10px;
}

.formComonentWrapper {
  left: 0;
  text-align: left;
}
.formFunctionWrapper {
  right: 0;
  text-align: right;
  direction: rtl
}

.formFunctionWrapper, .formComonentWrapper {
  position: absolute;
  max-width: 40%;
  display: inline-block;

  padding: 0 100px 0 100px
}

@keyframes newLine {
  from {color: lightgreen; font-size: 100px}
  to {color: green;}
}
.formComonentWrapper ul li:last-child, .formFunctionWrapper ul li:last-child {
  color: green;
  animation-name: newLine;
  animation-duration: 1s;
}







